/* Importing my fonts */
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Setting variables for colors and fonts */
:root {
    --font-heading: "volkhov", sans-serif;
    --font-content: "poppins", sans-serif;
    --highlight-color: #DF6951;
    --txt-color: #181E4B;
    --nav-txt-color: #212832;
    --subContent-color: #5E6282;
    --primaryBtnColor: #F1A501;
    --secondaryBtnColor: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
}

/* Css Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: var(--font-content);
    background: #fff;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    width: 95%;
    padding: 0 1rem;
}

/* Styling nav and hero section starts here */
header {
    padding: 2rem 0;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobileNav {
    display: none;
}


.header-nav .logo .logoTablet {
    display: none;
}

.header-nav ul {
    display: flex;
    gap: 4rem;
    align-items: center;
    list-style-type: none;
}



.header-nav ul li a {
    text-decoration: none;
    color: var(--nav-txt-color);
    font-size: 1rem;
    font-weight: 400;
}

.header-nav ul .framelessBtn {
    background: none;
    border: 1px solid #000;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
}

.header-nav ul .lang {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.header-nav ul .lang .caretTablet {
    display: none;
}

.hero {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 90vh;
}

.hero .left {
   /* width: 50%; */
   flex: 1;
}

.hero .left .tagline {
    color: var(--highlight-color);
    text-transform: uppercase;
    font-size: 1.25rem;
}

.hero .left .headingTxtWrapper {
    display: flex;
    flex-direction: column;
}

.hero .left .headingTxtWrapper .headingTxt {
    margin-top: 1rem;
    font-family: var(--font-heading);
    color: var(--txt-color);
    font-size: 5.5rem;
    font-weight: 700;
}

.hero .left .headingTxtWrapper img {
    align-self: flex-end;
    margin-top: -1.6rem;
}

.hero .left .subContent {
    color: var(--subContent-color);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.875rem;
    max-width: 29rem;
}

.hero .right {
    flex: 1;
    position: relative;
}

.hero .airplane {
    display: inline-block;
    position: absolute;
    top: 10%;
    right: 30%;
}

.hero .airplaneTwo {
    display: inline-block;
    position: absolute;
    top: 20%;
    right: 1%;
}

.hero .bgShape {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
}

.hero .groupBtns {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 2.6rem;
    flex-wrap: wrap;
}

.hero .groupBtns .primaryBtn {
    background: var(--primaryBtnColor);
    color: #fff;
    border: none;
    padding: 1rem 1.5rem;
    box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
    border-radius: 0.625rem;
    text-align: center;
    font-weight: 500;
    font-size: 1.125rem;
}

.hero .groupBtns .playDemoBtn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.hero .groupBtns .playDemoBtn .btnTxt {
    color: #686D77;
    font-size: 1.2rem;
    font-weight: 500;
}

/* Styling nav and hero section ends here */

/* Styling of service section starts here */
.headingAndIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-section .content {
    text-align: center;
    flex: 2;
}

.service-section .content p {
    color: #5E6282;
    font-weight: 600;
}

.service-section .content h2 {
    font-weight: 700;
    font-family: var(--font-heading);
    font-size: 3rem;
    color: #14183E;
}

.service-section .rowWrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 3rem;
   flex-wrap: wrap;
   margin-top: 4rem;
}

.service-section .rowWrapper .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1.7rem;
}

.service-section .rowWrapper .card .headingTxt {
    text-align: center;
    font-size: 1.25rem;
    color: #1E1D4C;
    font-weight: 500;
}

.service-section .rowWrapper .card .subContent {
    text-align: center;
    font-weight: 400;
    color: var(--subContent-color);
    max-width: 11rem;
}

.service-section .rowWrapper .shadowCard {
    border-radius: 2.25rem;
    background: #fff;
    box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.02), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00);
    position: relative;
}

.service-section .rowWrapper .shadowCard .overlayCard {
    border-radius: 1.875rem 0rem 0.625rem 0rem;
    background: #DF6951;
    padding: 3rem;
    position: absolute;
    bottom: -10%;
    left: -10%;
    z-index: -1;
}

/* Styling of service section ends here */

/* Styling of destination section starts here */

.destination-section {
    margin-top: 8rem;
}

.destination-section .content {
    text-align: center;
}
.destination-section .content p {
    color: #5E6282;
    font-weight: 600;
}

.destination-section .content h2 {
    font-weight: 700;
    font-family: var(--font-heading);
    font-size: 3rem;
    color: #14183E;
}

.destination-section .rowWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.destination-section .rowWrapper .card  {
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.02), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00);
    border-radius: 1.5rem;
    padding: 2rem 0;
}

/* .destination-section .rowWrapper .card img {
    max-width: 15rem;
    height: 15rem;
} */

.destination-section .rowWrapper .card .rowInner {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: var(--subContent-color);
    font-size: 0.9rem;
}

.destination-section .rowWrapper .card .rowInnerTwo {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    color: var(--subContent-color);
    font-size: 0.8rem;
}

.destination-section .rowWrapper .lastCard {
    position: relative;
}

.destination-section .rowWrapper .bgShape {
    position: absolute;
    right: -15%;
    bottom: 0;
    z-index: -1;
}

/* Styling of destination section ends here */

/* Booking section styling starts here */

.booking-section {
    margin-top: 6rem;
}
.booking-section .rowWrapperBig {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    flex-wrap: wrap;
}

.booking-section .rowWrapperBig .leftWrapper {
    max-width: 30rem;
}

.booking-section .rowWrapperBig .leftWrapper p {
    color: #5E6282;
    font-size: 1.125rem;
    font-weight: 600;
}

.booking-section .rowWrapperBig .leftWrapper h3 {
    color: #14183E;
    font-family: var(--font-heading);
    font-size: 3rem;
    font-weight: 600;
    margin-top: 0.7rem;
}

.booking-section .rowWrapperBig .columnContent .rowWrapper {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    gap: 1.4rem;
    margin-top: 2rem;
}

.booking-section .rowWrapperBig .columnContent .rowWrapper .right .headingTxt {
    color: var(--subContent-color);
    font-weight: 700;
    font-size: 1rem;
}

.booking-section .rowWrapperBig .columnContent .rowWrapper .right .subContent {
    color: var(--subContent-color);
    font-weight: 400;
    font-size: 1rem;
    line-height: 124.5%;
}

.booking-section .rowWrapperBig .rightWrapper {
    box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.02), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00);
    background: #fff;
    border-radius: 1.625rem;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    position: relative;
}

.booking-section .rowWrapperBig .rightWrapper .headingTxt {
    font-weight: 400;
    color: #080809;
    font-size: 1.125rem;
    letter-spacing: 0.01688rem;
    font-size: 1.125rem;
}

.booking-section .rowWrapperBig .rightWrapper .subContent {
    font-weight: 400;
    color: #84829A;
    font-size: 1.125rem;
    letter-spacing: -0.005rem;
    font-size: 1rem;
}

.booking-section .rowWrapperBig .rightWrapper .rowIconsWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.booking-section .rowWrapperBig .rightWrapper .rowIconsWrapper .icon {
    background: #F5F5F5;
    border-radius: 50%;
    padding: 0.7rem;
}

.booking-section .rowWrapperBig .rightWrapper .rowWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.booking-section .rowWrapperBig .rightWrapper .rowWrapper .left {
    display: flex;
    align-items: center;
    gap: 0.9rem;
}

.booking-section .rowWrapperBig .rightWrapper .rowWrapper .left .subContent {
    font-weight: 400;
    color: #84829A;
    font-size: 1.125rem;
    letter-spacing: -0.02rem;
    font-size: 1rem;
}

.booking-section .rowWrapperBig .cardOverlap {
    position: absolute;
    bottom: 13%;
    right: -10%;
    display: flex;
    gap: 0.8rem;
    box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.02), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00);
    background: #fff;
    padding: 1rem;
    border-radius: 1.125rem;
    /* align-items: center; */
}

.booking-section .rowWrapperBig .cardOverlap .left img {
    border-radius: 50%;
}

.booking-section .rowWrapperBig .cardOverlap .right .subContent {
    font-size: 0.875rem;
    font-weight: 400;
    color: #84829A;
}

.booking-section .rowWrapperBig .cardOverlap .right .headingTxt {
    font-size: 1.125rem;
    font-weight: 400;
    color: #080809;
}

.booking-section .rowWrapperBig .cardOverlap .right .smallTxt {
    font-size: 0.875rem;
    font-weight: 400;
}

.booking-section .rowWrapperBig .cardOverlap .right .smallTxt .highlightTxt {
    color: #8A79DF;
}

.booking-section .rowWrapperBig .cardOverlap .right .progressBar {
    width: 100%;
    height: 0.31rem;
    background: #ddd;
    border-radius: 0.7rem;
}

.booking-section .rowWrapperBig .cardOverlap .right .progressBar .innerBar {
    width: 40%;
    height: 0.31rem;
    background: #8A79DF;
    border-radius: 0.7rem;
}
/* Booking section styling ends here */

/* Testimonial section styling starts here */
.testimonial-section {
    margin-top: 6rem;
}

.testimonial-section .rowWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.testimonial-section .rowWrapper .left .headingTxt {
    color: var(--subContent-color);
    font-size: 1.125rem;
    font-weight: 600;
}

.testimonial-section .rowWrapper .left .subContent {
    color: #14183E;
    font-size: 3.125rem;
    font-weight: 700;
    font-family: var(--font-heading);
}

.testimonial-section .rowWrapper .left .rowCircleWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.testimonial-section .rowWrapper .left .rowCircleWrapper .circle {
    background: #F5F5F5;
    border-radius: 50%;
    width: 0.6rem;
    height: 0.6rem;
}

.testimonial-section .rowWrapper .center {
    max-width: 31.5rem;
    
    
}

.testimonial-section .rowWrapper .center .card {
    background: #FFF;
    box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.02), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00);
    padding: 1rem;
    position: relative;
}

.testimonial-section .rowWrapper .center .card .content {
    columns: #5E6282;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}

.testimonial-section .rowWrapper .center .card .contentName {
    columns: #5E6282;
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 1.5rem;
}

.testimonial-section .rowWrapper .center .card .contentCountry {
    columns: #5E6282;
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 0.4rem;
}

.testimonial-section .rowWrapper .right .caretsWrapper {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
/* .testimonial-section .rowWrapper .right {
    flex: 1;
} */
/* Testimonial section styling ends here */

/* Inifinity scroll section starts here */
.infinity-scroll-section {
    margin-top: 4.5rem;
    
}



.infinity-scroll-section .rowWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    animation: infinity-scroll 6s infinite backwards;
}

@keyframes infinity-scroll {
    0%, 100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(2rem);
    }
}

.infinity-scroll-section .rowWrapper .imgCard {
   margin: 0 auto;
}


.infinity-scroll-section .rowWrapper .shadowImg {
    background: #FFF;
    box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.02), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00);
    padding: 1rem;
    
}

.infinity-scroll-section .rowWrapper .imgCard img {
    max-width: 10rem;
  
}
/* Inifinity scroll section ends here */

/* Newsletter section styling starts here */
.newsletter-section {
    margin-top: 6rem;
}

.newsletter-section .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    line-height: 3.375rem;
    color: #5E6282;
    padding: 0 5rem;
    background: rgba(223, 215, 249, 0.2);
    border-radius: 8.0625rem 1.25rem 1.25rem 1.25rem;
    position: relative;
 
    

}

.newsletter-section .wrapper .edgeImg {
    position: absolute;
    right: -2%;
    top: -3%;
}

.newsletter-section .wrapper .headingTxt {
    text-align: center;
    font-size: 2rem;
    margin-top: 5rem;
}

.newsletter-section .wrapper .inputAndBtnWrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    flex-wrap: wrap;
}

.newsletter-section .wrapper .inputAndBtnWrapper .iconAndInputWrapper {
    display: flex;
    align-items: center;
    background: #FFF;
    gap: 0.6rem;
    padding: 0.6rem 1rem;
    border-radius: 0.625rem;
}

.newsletter-section .wrapper .inputAndBtnWrapper .iconAndInputWrapper input {
    border: none;
    outline: none;
    padding: 0.35rem;
}

.newsletter-section .wrapper .inputAndBtnWrapper .primaryBtn {
    background: var(--secondaryBtnColor);
    color: #fff;
    border: none;
    padding: 1rem 1.5rem;
    box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
    border-radius: 0.625rem;
    text-align: center;
    font-weight: 500;
    font-size: 1.125rem;
}

.newsletter-section .wrapper .starIcons {
    position: absolute;
    bottom: 0;
    right: -2%;
}
/* Newsletter section styling ends here */

/* Footer section styling starts here */
.footer-section {
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.footer-section .rowWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-section .rowWrapper .left .logo {
    font-size: 2.75rem;
    color: var(--txt-color);
    font-weight: 400;
    letter-spacing: -0.2rem;
}

.footer-section .rowWrapper .left .content {
    color: var(--subContent-color);
    font-size: 0.8125rem;
    font-weight: 500;
}

.footer-section .rowWrapper .center {
    display: flex;
    gap: 3rem;
    align-items: center;
    flex-wrap: wrap;
}

.footer-section .rowWrapper .center .column ul .headingTxt {
    margin-bottom: 1rem;
}

.footer-section .rowWrapper .center .column ul {
    list-style: none;
}

.footer-section .rowWrapper .center .column ul li {
    margin-bottom: 0.2rem;
}

.footer-section .rowWrapper .center .column ul li a {
    text-decoration: none;
    color: var(--subContent-color);
    font-size: 1.125rem;
    font-weight: 400;
}

.footer-section .rowWrapper .right .rowIcons {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.footer-section .rowWrapper .right .rowIcons .icon {
    background: #fff;
    border-radius: 50%;
    padding: 0.9rem;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.10));
    background: linear-gradient();
}
.footer-section .rowWrapper .right .rowIcons .igLogo {
    background: conic-gradient(
        #feda75,
        #fa7e1e,
        #d62976,
        #962fbf,
        #4f5bd5,
        #feda75
      );
}

.footer-section .rowWrapper .right .headingTxt {
    margin-top: 1.5rem;
    color: var(--subContent-color);
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.00625rem;
} 

.footer-section .rowWrapper .right .rowBtns {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.footer-section .rowWrapper .right .rowBtns .btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: #080809;
    border-radius: 3rem;
    padding: 0.6rem 1.3rem;
    flex-wrap: wrap;
}

.footer-section .rowWrapper .right .rowBtns .btn .txtPlay .boldTxt {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: -0.02rem;
}

.footer-section .rowWrapper .right .rowBtns .btn .txtPlay .subContent {
    color: rgba(255, 255, 255, 1);
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: -0.24rem;
    letter-spacing: -0.02rem;
}

.footer-section .rowWrapper .right .rowBtns .btn .txtApple .boldTxt {
    color: #fff;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: -0.02rem;
}

.footer-section .rowWrapper .right .rowBtns .btn .txtApple .strgBoldTxt {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 800;
    letter-spacing: -0.02rem;
}

.footer-txt-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    margin-top: 4rem;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--subContent-color);
    text-align: center;
}


/* Footer section styling ends here */

/* Media query starts here */
@media (max-width: 768px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
    }

    .header-nav {
        background: var(--txt-color);
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        padding: 2rem 1rem;
        z-index: 1000;
    }

    .header-nav .logo {
        max-width: 5rem;
    }

    .header-nav .logo .logoTablet {
        display: block;
    }

    .header-nav .logo .logoDesktop {
        display: none;
    }

    .header-nav ul {
        gap: 0.8rem;
    }


    .header-nav ul li a {
        text-decoration: underline;
        font-size: 0.93rem;
        color: #fff;
    }

    .header-nav ul .framelessBtn {
        padding: 0.3rem 0.5rem;
        font-size: 0.93rem;
        color: #fff;
        border-color: #fff;
    }

    .header-nav ul .lang {
        font-size: 0.93rem;
        color: #fff;
    }

    .header-nav ul .lang .caretDesktop {
        display: none;
    }

    .header-nav ul .lang .caretTablet {
        display: block;
    }

    .hero {
        margin-top: 6rem;
        flex-direction: column;
        gap: 1rem;
    }

    .hero .left {
        width: 100%;
        text-align: center;
    }

    .hero .airplane, 
    .hero .airplaneTwo,
    .hero .bgShape {
        display: none;
    }
    

    .hero .left .subContent {
        margin: 0 auto;
    }

    .hero .groupBtns {
        justify-content: center;
    }

    
}

@media (max-width: 480px) {
    .container {
        max-width: 480px;
        width: 90%;
        padding: 0 1.2rem;
    }
    
    .header-nav {
        display: none;
    }

    .mobileNav {
        display: block;
        background: #000;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        padding: 1rem;
        z-index: 1;
    }

    .mobileNav .logoAndBtnWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #000;
    }

    .mobileNav .logoAndBtnWrapper .menuBtn {
        background: none;
        border: none;
    }

    .mobileNav ul {
        display: none;
        margin-top: 1rem;
        border: 1px solid #000;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .mobileNav ul li {
        margin-top: 0.5rem;
    }

    .mobileNav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
    }
    
    .mobileNav ul .framelessBtn {
        margin-top: 0.5rem;
        background: none;
        border: 1px solid #fff;
        border-radius: 0.3rem;
        padding: 0.5rem 1rem;
        color: #fff;
    }

    .hero .left .tagline {
        font-size: 1rem;
    }

    .hero .left .headingTxtWrapper .headingTxt {
        font-size: 4rem;
        font-weight: 500;
    }

    .hero .left .subContent {
        font-size: 0.9rem;
        font-weight: 400;
    }
}
/* Media query ends here */