/* Importing my fonts */
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Setting variables for colors and fonts */
:root {
    --font-heading: "volkhov", sans-serif;
    --font-content: "poppins", sans-serif;
    --highlight-color: #DF6951;
    --txt-color: #181E4B;
    --nav-txt-color: #212832;
    --subContent-color: #5E6282;
    --primaryBtnColor: #F1A501;
    --secondaryBtnColor: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
}

/* Css Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: var(--font-content);
    background: #fff;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    width: 95%;
    padding: 0 0rem;
    /* border: 1px solid #000; */
}

/* Styling nav and hero section starts here */
header {
    padding: 2rem 0;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav ul {
    display: flex;
    gap: 4rem;
    align-items: center;
    list-style-type: none;
}



.header-nav ul li a {
    text-decoration: none;
    color: var(--nav-txt-color);
    font-size: 1rem;
    font-weight: 400;
}

.header-nav ul .framelessBtn {
    background: none;
    border: 1px solid #000;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;

}

.header-nav ul .lang {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.hero {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hero .left {
   /* width: 50%; */
   flex: 1;
}

.hero .left .tagline {
    color: var(--highlight-color);
    text-transform: uppercase;
    font-size: 1.25rem;
}

.hero .left .headingTxtWrapper {
    display: flex;
    flex-direction: column;
}

.hero .left .headingTxtWrapper .headingTxt {
    margin-top: 1rem;
    font-family: var(--font-heading);
    color: var(--txt-color);
    font-size: 5.5rem;
    font-weight: 700;
}

.hero .left .headingTxtWrapper img {
    align-self: flex-end;
    margin-top: -1.6rem;
}

.hero .left .subContent {
    color: var(--subContent-color);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.875rem;
    max-width: 29rem;
}

.hero .right {
    flex: 1;
    position: relative;
}

.hero .airplane {
    display: inline-block;
    position: absolute;
    top: 10%;
    right: 30%;
}

.hero .airplaneTwo {
    display: inline-block;
    position: absolute;
    top: 20%;
    right: 1%;
}

.hero .bgShape {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
}

.hero .groupBtns {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 2.6rem;
}

.hero .groupBtns .primaryBtn {
    background: var(--primaryBtnColor);
    color: #fff;
    border: none;
    padding: 1rem 1.5rem;
    box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
    border-radius: 0.625rem;
    text-align: center;
    font-weight: 500;
    font-size: 1.125rem;
}

.hero .groupBtns .playDemoBtn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.hero .groupBtns .playDemoBtn .btnTxt {
    color: #686D77;
    font-size: 1.2rem;
    font-weight: 500;
}

/* Styling nav and hero section ends here */

/* Styling of service section starts here */
.headingAndIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headingAndIcon .content {
    text-align: center;
    flex: 2;
}

.service-section .rowWrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 3rem;
   flex-wrap: wrap;
   margin-top: 4rem;
}

.service-section .rowWrapper .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex: 1;
    padding: 2rem 1.7rem;
}

.service-section .rowWrapper .card .headingTxt {
    text-align: center;
    font-size: 1.25rem;
    color: #1E1D4C;
    font-weight: 500;
}

.service-section .rowWrapper .card .subContent {
    text-align: center;
    font-weight: 400;
    color: var(--subContent-color);
    max-width: 11rem;
}

.service-section .rowWrapper .shadowCard {
    border-radius: 2.25rem;
    background: #fff;
    box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.02), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00);
    position: relative;
}

.service-section .rowWrapper .shadowCard .overlayCard {
    border-radius: 1.875rem 0rem 0.625rem 0rem;
    background: #DF6951;
    padding: 3rem;
    position: absolute;
    bottom: -10%;
    left: -10%;
    z-index: -1;
}

/* Styling of service section ends here */

/* Media query starts here */
@media (max-width: 768px) {
    .container {
        max-width: 768px;
    }

    .hero {
        flex-direction: column;
        gap: 1rem;
    }

    .hero .left {
        width: 100%;
        text-align: center;
    }

    .hero .airplane, 
    .hero .airplaneTwo,
    .hero .bgShape {
        display: none;
    }
    



    .header-nav {
        display: none;
    }
}
/* Media query ends here */

.progressBar {
    width: 100%;
    height: 1rem;
    background: #ddd;
}

.progressBar .innerBar {
    width: 40%;
    height: 1rem;
    background: #8A79DF;
}

